@column-left-width: 411px;
@column-right-width: 956px;

body {
	background: #fff;
	color: #626262;
	font-family: 'Century Gothic';
	font-size: 16px;
	margin: 0 auto;
	min-width: 1367px;
}
.i-clearfix:before,
.i-clearfix:after {
	content: "";
	display: table;
}
.i-clearfix:after {
	clear: both;
}
.i-clearfix {
	zoom: 1;
}
.b-header {
	background: #fff;
	height: 97px;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	&_mode_fixed {
		height: 63px;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 2;
	}
	&__wrapper {
		margin: 0 auto;
		width: 1367px;
	}
	&__title {
		color: #626262;
		float: left;
		font-family: 'Caviar Dreams';
		font-size: 48px;
		font-weight: normal;
		line-height: 97px;
		width: @column-left-width;
	}
	&_mode_fixed &__title {
		font-size: 36px;
		line-height: 63px;
	}
	&__navi {
		float: right;
		text-align: right;
		width: @column-right-width;
		&-list {
			float: right;
			line-height: 97px;
		}
		&-item {
			float: left;
			margin-right: 20px;
			&:last-child {
				margin-right: 0;
			}
		}
		&-link {
			background: url('../img/b-header__navi-item.png') no-repeat 0 47px;
			color: #cfcfcf;
			display: inline-block;
			font-size: 16px;
			padding-left: 13px;
			text-decoration: none;
			&:hover {
				background: url('../img/b-header__navi-item_active.png') no-repeat 0 47px;
				color: #868585;
				text-decoration: none;
			}
		}
	}
	&_mode_fixed &__navi-list {
		line-height: 63px;
	}
	&_mode_fixed &__navi-link {
		background-position: 0 30px;
	}
}
.b-intro {
	background: url('../img/b-intro.jpg') no-repeat 50% 97px;
	height: 988px;
	padding-top: 97px;
	&__wrapper {
		margin: 0 auto;
		overflow: hidden;
		width: 1367px;
	}
	&__photo {
		float: left;
		width: @column-left-width;
		&-item {
			margin-top: 86px;
		}
	}
	&__content {
		color: #fff;
		float: left;
		width: @column-right-width;
		&-link {
			background: url('../img/icon-pdf.png') no-repeat 100% 5px;
			color: #fff;
			display: inline-block;
			font-family: 'Caviar Dreams';
			font-size: 18px;
			line-height: 30px;
			margin-left: 260px;
			padding-right: 38px;
			text-decoration: none;
		}
	}
	&__order {
		background: rgba(0, 0, 0, 0.3);
		margin-bottom: 30px;
		margin-right: 113px;
		margin-top: 281px;
		padding: 35px 0 35px 82px;
		position: relative;
		top: 0;
		left: 180px;
		&-title {
			font-family: 'Caviar Dreams';
			font-size: 36px;
			margin-bottom: 22px;
		}
		&-button {
			background: #d76270;
			border: none;
			-webkit-border-radius: 9px;
			-moz-border-radius: 9px;
			-o-border-radius: 9px;
			border-radius: 9px;
			color: #fff;
			cursor: pointer;
			font-family: 'Century Gothic';
			font-size: 24px;
			padding: 16px 45px 16px;
		}
	}
}
.b-features {
	background: url('../img/b-features.png') no-repeat 50% 63px;
	height: 1018px;
	padding-top: 63px;
	&__wrapper {
		margin: 0 auto;
		width: 1367px;
	}
	&__content {
		margin-left: @column-left-width;
		padding-top: 35px;
		width: @column-right-width;
	}
	&__suptitle {
		border-bottom: 2px solid #626262;
		color: #626262;
		font-family: 'Century Gothic';
		font-size: 24px;
		margin-bottom: 14px;
		padding-bottom: 6px;
	}
	&__title {
		color: #626262;
		font-family: 'Century Gothic';
		font-size: 44px;
		line-height: 53px;
		margin-bottom: 12px;
	}
	&__text {
		color: #626262;
		font-family: 'Century Gothic';
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 19px;
		text-align: justify;
	}
	&__list {
		color: #626262;
		font-family: 'Century Gothic';
		font-size: 16px;
		line-height: 19px;
		margin-top: 32px;
	}
	&__item {
		display: block;
		position: relative;
		&_type_safety {
			margin-left: 238px;
			padding-top: 38px;
		}
		&_type_nature {
			margin-left: 333px;
			margin-top: 53px;
			padding-top: 2px;
		}
		&_type_recipes {
			margin-left: 428px;
			margin-top: 47px;
		}
		&_type_official {
			margin-left: 522px;
			margin-top: 36px;
			padding-top: 3px;
		}
		&_type_meditation {
			margin-left: 616px;
			margin-top: 13px;
			padding-top: 11px;
		}
	}
	&__icon {
		display: block;
		height: 100px;
		left: -111px;
		position: absolute;
		top: 0;
		width: 100px;
		&_type_safety {
			background: url('../img/b-features__icon_safety.png') no-repeat;
			top: 8px;
		}
		&_type_nature {
			background: url('../img/b-features__icon_nature.png') no-repeat;
			top: -27px;
		}
		&_type_recipes {
			background: url('../img/b-features__icon_recipes.png') no-repeat;
			top: -20px;
		}
		&_type_official {
			background: url('../img/b-features__icon_official.png') no-repeat;
			top: -18px;
		}
		&_type_meditation {
			background: url('../img/b-features__icon_meditation.png') no-repeat;
			top: 5px;
		}
	}
}
.b-analgesic {
	background: url('../img/b-analgesic.png') no-repeat 50% 63px;
	height: 1014px;
	padding-top: 63px;
	&__wrapper {
		margin: 0 auto;
		width: 1367px;
	}
	&__content {
		padding-top: 79px;
		width: 530px;
	}
	&__suptitle {
		border-bottom: 2px solid #626262;
		color: #626262;
		font-family: 'Century Gothic';
		font-size: 24px;
		margin-bottom: 14px;
		padding-bottom: 6px;
	}
	&__title {
		color: #626262;
		font-family: 'Century Gothic';
		font-size: 44px;
		line-height: 53px;
		margin-bottom: 64px;
	}
	&__text {
		color: #626262;
		font-family: 'Century Gothic';
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 19px;
		text-align: justify;
		&_mode_important {
			font-weight: bold;
			font-style: italic;
		}
	}
}
.b-examples {
	background: url('../img/b-examples.png') no-repeat 50% 215px;
	height: 943px;
	margin-top: 63px;
	&__wrapper {
		margin: 0 auto;
		width: 1367px;
	}
	&__title {
		background: url('../img/b-examples__title.png') no-repeat 50% 79px;
		color: #898989;
		font-family: 'Helvetica Neue', Helvetica;
		font-size: 36px;
		font-style: italic;
		font-weight: normal;
		margin-top: 137px;
		padding-bottom: 250px;
		text-align: center;
	}
	&__list {
		color: #626262;
		font-family: 'Century Gothic';
		font-size: 16px;
		font-style: italic;
		font-weight: bold;
		line-height: 19px;
		margin-bottom: 236px;
		margin-top: 29px;
	}
	&__item {
		display: block;
		float: left;
		min-height: 100px;
		text-align: center;
		width: 250px;
		&_node_1 {
			margin-right: 50px;
		}
		&_node_2 {
			margin-right: 47px;
		}
		&_node_3 {
			margin-right: 36px;
		}
		&_node_4 {
			margin-right: 50px;
		}
		&_node_5 {
			margin-right: 0;
			width: 180px;
		}
	}
	&__content {
		margin: 0 auto;
		width: 843px;
	}
	&__text {
		color: #fff;
		font-family: 'Helvetica Neue', Helvetica;
		font-size: 24px;
		font-style: italic;
		font-weight: lighter;
		line-height: 29px;
		margin-bottom: 31px;
		text-align: center;
		&_mode_important {
			font-size: 36px;
		}
	}
}
.b-components {
	background: url('../img/b-components.jpg') no-repeat 50% 63px;
	height: 1015px;
	padding-top: 63px;
	&__wrapper {
		margin: 0 auto;
		width: 1367px;
	}
	&__photo {
		float: left;
		width: @column-left-width;
		&-item {
			margin-top: 160px;
		}
	}
	&__content {
		float: left;
		padding-top: 37px;
		width: @column-right-width;
	}
	&__suptitle {
		border-bottom: 2px solid #626262;
		color: #626262;
		font-family: 'Century Gothic';
		font-size: 24px;
		margin-bottom: 14px;
		padding-bottom: 6px;
		padding-left: 43px;
	}
	&__title {
		color: #626262;
		font-family: 'Century Gothic';
		font-size: 44px;
		line-height: 53px;
		margin-bottom: 12px;
		padding-left: 43px;
	}
	&__text {
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 20px;
		padding-left: 43px;
		text-align: justify;
		&_mode_preorder {
			float: right;
			text-align: justify;
			width: 713px;
		}
		&_mode_order {
			font-style: italic;
			font-weight: bold;
			margin-bottom: 46px;
			padding-left: 245px;
			text-align: right;
		}
	}
	&__list {
		margin-bottom: 84px;
		padding-left: 43px;
	}
	&__item {
		background: url('../img/b-header__navi-item.png') no-repeat 1px 6px;
		margin-bottom: 22px;
		padding-left: 36px;
	}
	&__order-button {
		background: #d76270;
		border: none;
		-webkit-border-radius: 9px;
		-moz-border-radius: 9px;
		-o-border-radius: 9px;
		border-radius: 9px;
		color: #fff;
		cursor: pointer;
		float: right;
		font-family: 'Century Gothic';
		font-size: 24px;
		margin-right: 3px;
		padding: 15px 48px 16px;
	}
}
.b-popup {
	background: rgba(90, 90, 90, 0.5);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
	&__inner {
		background: #fff;
		border-top: 1px solid #dddbdb;
		height: 661px;
		margin: -330px auto 0;
		position: relative;
		top: 50%;
		width: 483px;
	}
	&__close {
		background: url('../img/icon-close.png') no-repeat 100% 0;
		cursor: pointer;
		display: block;
		line-height: 22px;
		margin-top: 18px;
		margin-right: 16px;
		padding-right: 30px;
		text-align: right;
	}
	&__steps {
		font-family: 'Century Gothic';
		font-size: 16px;
		margin-bottom: 30px;
		margin-top: 25px;
		&-item {
			background: #f9f9f9;
			border: 1px solid #ededed;
			border-right: none;
			border-left: none;
			color: #bbbdc0;
			display: block;
			float: left;
			height: 45px;
			line-height: 45px;
			padding-left: 14px;
			position: relative;
			text-align: center;
			width: 130px;
			&:first-child {
				padding-left: 7px;
				width: 137px;
			}
			&:after {
				background: url('../img/corner_default.png') no-repeat;
				border: none;
				content: ' ';
				display: block;
				height: 45px;
				position: absolute;
				top: 0;
				left: 100%;
				width: 13px;
				z-index: 4;
			}
			&_mode_active {
				background: #f56271;
				border: 1px solid #f56271;
				border-right: none;
				color: #fff;
				font-weight: bold;
				&:after {
					background: url('../img/corner_active.png') no-repeat;
					content: ' ';
					display: block;
					height: 45px;
					position: absolute;
					top: 0;
					left: 100%;
					width: 13px;
					z-index: 4;
				}
			}
		}
	}
	&__order {
		padding: 0 50px;
		text-align: center;
	}
	&__field {
		background: #f9f9f9;
		border: 1px solid #eaeaea;
		border-radius: 5px;
		color: #8b8e95;
		font-family: 'Century Gothic';
		font-size: 14px;
		height: 35px;
		line-height: 35px;
		margin-bottom: 17px;
		padding: 0 12px;
		width: 276px;
		&_size_small {
			margin-right: 10px;
			width: 76px;
		}
		&_size_medium {
			margin-left: 0;
			width: 160px;
		}
		&-box {
			float: left;
			font-family: 'Century Gothic';
			font-size: 14px;
			height: 30px;
			line-height: 30px;
			margin-right: 20px;
			padding: 2px;
			width: 155px;
		}
	}
	&__fieldset {
		margin: 0 auto 39px;
		width: 302px;
	}
	&__number {
		border: none;
		border-radius: 5px;
		color: #fff;
		cursor: pointer;
		font-family: 'Century Gothic';
		font-size: 30px;
		font-weight: bold;
		height: 30px;
		line-height: 26px;
		padding: 0;
		width: 30px;
		&_mode_minus {
			background: #dcdcdc;
			float: left;
		}
		&_mode_plus {
			background: #f56271;
			float: right;
		}
	}
	&__count {
	}
	&__price {
		float: left;
		font-size: 14px;
		line-height: 36px;
		margin: 0;
		text-align: left;
	}
	&__proceed {
		background: #f56271;
		border: none;
		border-radius: 8px/9px 0 0 8px/9px;
		border-radius: 9px 0 0 9px;
		color: #f9f9f9;
		cursor: pointer;
		float: right;
		font-family: 'Century Gothic';
		font-size: 16px;
		font-weight: bold;
		height: 48px;
		line-height: 40px;
		margin-right: 25px;
		padding: 0 12px 0 32px;
		position: relative;
		&:after {
			background: url('../img/corner_button.png') no-repeat;
			content: ' ';
			cursor: pointer;
			display: block;
			height: 48px;
			position: absolute;
			top: 0;
			left: 100%;
			width: 25px;
			z-index: 4;
		}
	}
}
