@column-left-width: 411px;
@column-right-width: 956px;

body {
	//background: #fff;
	background: #ddd;
	color: #626262;
	font-family: 'Century Gothic';
	font-size: 16px;
	width: 1500px;
}
.i-clearfix:before,
.i-clearfix:after {
	content: "";
	display: table;
}
.i-clearfix:after {
	clear: both;
}
.i-clearfix {
	zoom: 1;
}
.b-header {
	background: #fff;
	&__wrapper {
		margin: 0 auto;
		width: 1367px;
	}
	&__title {
		color: #626262;
		float: left;
		font-family: 'Caviar Dreams';
		font-size: 48px;
		font-weight: bold;
		width: @column-left-width;
	}
	&__navi {
		float: left;
		text-align: right;
		width: @column-right-width;
		&-list {
			list-style-type: disc;
			float: right;
		}
		&-item {
			float: left;
		}
		&-link {
			color: #cfcfcf;
			font-size: 16px;
			text-decoration: none;
			&:hover {
				color: #868585;
				text-decoration: none;
			}
		}
	}
}
