@column-left-width: 411px;
@column-right-width: 956px;

body {
	//background: #fff;
	background: #ddd;
	color: #626262;
	font-family: 'Century Gothic';
	font-size: 16px;
	margin: 0 auto;
	width: 1500px;
}
.i-clearfix:before,
.i-clearfix:after {
	content: "";
	display: table;
}
.i-clearfix:after {
	clear: both;
}
.i-clearfix {
	zoom: 1;
}
.b-header {
	background: #fff;
	height: 97px;
	overflow: hidden;
	&__wrapper {
		margin: 0 auto;
		width: 1367px;
	}
	&__title {
		color: #626262;
		float: left;
		font-family: 'Caviar Dreams';
		font-size: 48px;
		font-weight: bold;
		line-height: 97px;
		width: @column-left-width;
	}
	&__navi {
		float: left;
		text-align: right;
		width: @column-right-width;
		&-list {
			float: right;
			line-height: 97px;
		}
		&-item {
			float: left;
			margin-right: 20px;
			&:last-child {
				margin-right: 0;
			}
		}
		&-link {
			background: url('../img/b-header__navi-item.png') no-repeat 0 47px;
			color: #cfcfcf;
			display: inline-block;
			font-size: 16px;
			padding-left: 14px;
			text-decoration: none;
			&:hover {
				background: url('../img/b-header__navi-item_active.png') no-repeat 0 47px;
				color: #868585;
				text-decoration: none;
			}
		}
	}
}
